/* Login form  */


main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    background: linear-gradient(#fff,#ddecfb,#39485d)  ;
}
#login-form{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    box-shadow: 1px 1px 23px #ff4a52  ;
    background: #f7fafd;
}
#login-form div{
    height: 40%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
#login-form input{
    width: 90%;
    height: 40%;
    padding: 4%;
    border-radius: 5px;
}

#login-form .buttons input{
    background: #ff4a52;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}